<div ng-controller="EmployeeCardCtrl">
	<div id="name">{{data.employee.name}}</div>
	<div>
		<table>
			<tr ng-repeat="day in weekService.data.week">
				<td>{{day.date | date:"EEE"}}</td>
				<td>{{day.date | date:"MM/dd"}}</td>
				<td>{{day.times[0] || '...'}}</td>
				<td>{{day.times[1] || '...'}}</td>
				<td>{{day.times[2] || '...'}}</td>
				<td>{{day.times[3] || '...'}}</td>
			</tr>
		</table>
		<button class="wide" ng-click="addWeek(-1)">Prev week</button>
		<button class="wide" ng-click="addWeek(1)">Next week</button>
	</div>
	<button class="wide" ng-disabled="!weekService.data.canClockIn" ng-click="weekService.clockIt()">Clock In</button>
	<button class="wide" ng-disabled="!weekService.data.canClockOut" ng-click="weekService.clockIt()">Clock Out</button>
	<button class="square" ng-click="okClick()">OK</button>

</div>