<div ng-controller="EmployeeCardCtrl" id="employeeCard">
	<div id="name">{{data.employee.name}}</div>
	<div>
		<table class="small">
			<thead>
				<tr>
					<th class="day">Day</th>
					<th class="date">Date</th>
					<th class="time">In</th>
					<th class="time">Out</th>
					<th class="time">In</th>
					<th class="time">Out</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="day in weekService.data.week">
					<td>{{day.date | date:"EEE"}}</td>
					<td>{{day.date | date:"MM/dd"}}</td>
					<td>{{(day.times[0] | date:"h:mma") || '...'}}</td>
					<td>{{(day.times[1] | date:"h:mma") || '...'}}</td>
					<td>{{(day.times[2] | date:"h:mma") || '...'}}</td>
					<td>{{(day.times[3] | date:"h:mma") || '...'}}</td>
				</tr>
			</tbody>
		</table>
		<button ng-click="addWeek(-1)">&#8679;</button>
		<button ng-click="addWeek(1)">&#8681;</button>
	</div>
	<button class="wide" ng-disabled="!weekService.data.canClockIn" ng-click="weekService.clockIt()">Clock In</button>
	<button class="wide" ng-disabled="!weekService.data.canClockOut" ng-click="weekService.clockIt()">Clock Out</button>
	<button class="square" ng-click="okClick()">OK</button>

</div>