<div ng-controller="reportCtrl">
	<select ng-model="currentEmployee" ng-options="employee.name for employee in activeEmployees" ng-change="employeeChanged()"></select>
	<div>
		<h2>
			{{weekService.data.periodStart | date}} to {{weekService.data.periodEnd | date}}
		</h2>
	</div>
	<div>
		<button ng-click="periodClick(-1)">Prev</button>
		<button ng-click="periodClick(1)">Next</button>
	</div>
	<div>
		<table>
			<thead>
				<th class="day"></th>		
				<th class="date"></th>		
				<th class="time">In</th>
				<th class="time">Out</th>
				<th class="time">In</th>
				<th class="time">Out</th>
				<th class="total">Total</th>
			</thead>
			<tbody>
				<tr ng-repeat="day in payPeriod">
					<td class="day">{{day.date | date:"EEE"}}</td>
					<td class="longdate">{{day.date | date}}</td>
					<td class="time">{{(day.times[0] | date:"h:mma") || '...'}}</td>
					<td class="time">{{(day.times[1] | date:"h:mma") || '...'}}</td>
					<td class="time">{{(day.times[2] | date:"h:mma") || '...'}}</td>
					<td class="time">{{(day.times[3] | date:"h:mma") || '...'}}</td>
					<td class="total">{{day.dailyTotal | number:2}}</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>{{periodTotal | number:2}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<button ng-click="mainClick()">Return to main</button>
</div>