@media screen {
#timeclock {
}

#password {
	font-size: 35pt;
}

#date {
	font-size: 35pt;
}

#time {
	font-size: 55pt;
}

#name {
	font-size: 35pt;
}

div {
	text-align: center;
}

#timeclock button {
    width: 180px;
    height: 180px;
    margin: 3px;
    background: #ccc;
	color: white;
	font-size: 38pt;
	border-radius: 40px;
	border: solid #888 3px;
}

#timeclock button:disabled {
    background: #eee;
	border-color: #bbb;
}

#timeclock button.wide {
    width: 360px;
}

#keypad button:active {
	color: black;
	background: #666;
}

.timecardtable {
	font-size: 20pt;
}

table {
	margin: auto;
	border: solid black 1px;
}

table.small {
	width: 500px;
}

table .day {
	width: 10em;
}

table .date {
	width: 10em;
}

table .longdate {
	width: 28em;
}

table .time {
	width: 10em;
}

table .total {
	width: 10em;
	text-align: right;
}

.print-only { display: none; }
}

@media print {
.non-printing { display: none; }

table .total {
	text-align: right;
}

table {
	text-align: center;
}

}
