#timeclock {
	border: solid black 2px;
}

#date {
	font-size: 15pt;
}

#time {
	font-size: 25pt;
}

#name {
	font-size: 25pt;
}

div {
	text-align: center;
}

button {
    width: 80px;
    height: 80px;
    margin: 5px;
    background: #ccc;
	color: white;
	font-size: 18pt;
	border-radius: 40px;
	border: solid #888 3px;
}

button:disabled {
    background: #eee;
	border-color: #bbb;
}

button.wide {
    width: 160px;
}

#keypad button:active {
	color: black;
	background: #666;
}

table {
	margin: auto;
	width: 500px;
	border: solid black 1px;
}